extends layout
block content
    h1= title
    if (toShow == null)
     h2 No instance to delete
    else
     - let game_id = toShow._id
     - let game_name = toShow.game_name
     - let number_of_players = toShow.number_of_players
     - let game_price = toShow.game_price
     - let actionid = "/resource/games/" + game_id
     script let actionid = "#{actionid}"
     div
        div.row
            div(class='gamesAttr mr-3') game id is:
            div #{game_id}
        div.row
            div(class='gamesAttr mr-3') game name is:
            div #{game_name}
        div.row
            div(class='gamesAttr mr-3') number of players is:
            div #{number_of_players}
        div.row
            div(class='gamesAttr mr-3') game price is:
            div #{game_price}
     button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
     button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/games'
        }
    script.
        function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
        method: 'DELETE' 
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Delete succeded")
        window.location.href='/games'
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
        });
     }